extends layouts/starter

append body-content
	.image-uses
		img(src=headerImg, alt=title)


	.container
		h1 #{title}


		for product in products
			.col-md-4.product-element.sub-prod(class=product.id)

				img.products-images(src=product.image1, alt='First slide')

				a.product-name(href=product.href) #{product.name}
				p.product-description #{product.description}
